.list {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.item {
  margin: 8px;

  @media (width < 480px) {
    margin: 8px calc((100% - (4 * 80px)) / 8);
  }

  @media (width < 384px) {
    margin: 8px calc((100% - (3 * 80px)) / 6);
  }

  @media (width < 288px) {
    margin: 8px calc((100% - (2 * 80px)) / 4);
  }
}
