.input {
  position: relative;
  margin: 0;
}

.text-input {
  margin-bottom: 5px;
}

.text-input input {
  padding-right: 40px;
}

.spinner {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.menu {
  list-style: none;
  margin: 8px 0;
  padding: 0;
  width: 100%;
  border: 1px solid #d3dce0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  padding: 4px;
  cursor: pointer;
}

.item-image {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.item-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #8091a5;
  color: white;
  font-size: 16px;
  font-weight: bold;
  flex-shrink: 0;
}

.menu .item-text {
  line-height: 30px;
  margin: 0;
  padding-left: 8px;
}
