@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  src: url('/avenir-400.woff2') format('woff2');
  font-display: block;
}

body {
  font-family: 'Avenir', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #004d00;
  background: #89a147 url('/texture.png');
  margin: 0;
  overflow-y: scroll;
}

a,
h1,
h2,
h3 {
  color: #992516;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
