.layout {
  display: flex;
}

.main {
  flex: 1 1 auto;
  margin-top: calc(36px + 2 * var(--unit0));
  padding-bottom: 8em;

  @media (--tablet-landscape-up) {
    background: var(--greenHighlight) url('/images/texture.png') fixed;
    min-height: calc(100vh - (36px + 2 * var(--unit0)));
  }
}

.sideBarContainer {
  display: none;
  flex: 0 0 calc(178px + 4em);
  position: relative;

  @media (--tablet-landscape-up) {
    display: block;
  }
}

.sideBar {
  position: fixed;
  top: calc(36px + 2em);
  bottom: 0;
  width: calc(178px + 4em);
  background-color: white;
  padding: 1.5em 2em;
  border-left: 2px solid var(--greenBackground);
}

.navLink {
  display: block;
  font-weight: bold;
  text-align: center;
}

.hotTopicsTitle {
  margin: 1.5em 0 0.8em;
  text-align: center;
}
