.layout {
  display: flex;
}

.main {
  flex: 1 1 auto;
  margin-top: calc(36px + 2 * var(--unit0));
  padding-bottom: 8em;

  @media (--tablet-landscape-up) {
    background: var(--greenHighlight) url('/images/texture.png') fixed;
    min-height: calc(100vh - (36px + 2 * var(--unit0)));
  }
}

.sideBarContainer {
  flex: 0 0 calc(178px + 4em);
  position: relative;
  background-color: white;

  @media (--tablet-portrait-down) {
    position: fixed;
    top: calc(36px + 2 * var(--unit0));
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.sideBar {
  padding: 1.5em 0;
  overflow-y: auto;
  bottom: 0;

  &.playerOpen {
    bottom: calc(114px + env(safe-area-inset-bottom));
  }

  @media (--tablet-landscape-up) {
    position: fixed;
    top: calc(36px + 2 * var(--unit0));
    width: calc(178px + 4em);
    border-left: 2px solid var(--greenBackground);
  }

  @media (--tablet-portrait-down) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5em;
  }
}

.navLink {
  display: block;
  font-weight: bold;
  text-align: center;
}

.hotTopicsTitle {
  margin: 1.5em 0 0.8em;
  text-align: center;
}

.gamesList {
  margin: -8px auto;
  max-width: 384px;
  @media (--tablet-landscape-up) {
    width: 192px;
  }
}
