.video,
.playButton {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.videoContainer {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
}

.videoContainer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-repeat: repeat-x;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
}

.playButtonExit {
  opacity: 1;
}

.playButtonExitActive {
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0, 0, 0.2, 1);
}

.playIcon {
  width: 68px;
  height: 48px;
}

.playIconOuter {
  fill: #212121;
  fill-opacity: 0.8;
  transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1),
    fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.playButton:active .playIconOuter {
  fill: red;
  fill-opacity: 1;
}

@media (hover: hover) {
  .playButton:hover .playIconOuter {
    fill: red;
    fill-opacity: 1;
  }
}

.playIconInner {
  fill: white;
}
