.buttonBar {
  margin: 1.5em 0;
}

.playButton {
  border: 2px solid var(--greenBackground);
  padding: 1em;
  line-height: 1.2;
  border-radius: 0.5em;
  width: 150px;
  background-color: var(--greenWash);
}

.playButton:hover {
  border-color: var(--greenBodyText);
}

.gamesListHeading {
  margin-bottom: 0.8em;
}
