.image {
  width: 42px;
  height: 64px;
}

.buttonBar {
  margin: 1.5em -8px;
  display: flex;

  @media (--phone-only) {
    margin: 1.5em -4px;
  }
}

.button {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  border: 2px solid var(--greenBackground);
  padding: 0.8em 1.5em;
  min-width: 130px;
  border-radius: 0.5em;
  background-color: var(--greenWash);
  color: var(--greenBodyText);
  margin: 0 8px;

  &:hover {
    border-color: var(--greenBodyText);
    text-decoration: none;
  }

  & svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    align-self: center;

    & path {
      fill: var(--greenBodyText);
    }
  }

  @media (--phone-only) {
    padding: 0.8em 0;
    flex: 1 1 auto;
    margin: 0 4px;
  }
}

.playButton svg {
  margin-right: 4px;
}

@media (--phone-only) {
  .downloadLink {
    display: none;
  }
}

.gamesListHeading {
  margin-bottom: 0.8em;
}
