.header {
  background-color: white;
  padding: 0.8em 0;
  margin-bottom: 1.5em;
  box-shadow: 0 -100vh 0 100vh rgba(0, 0, 0, 0.5);
}

.logo {
  margin-left: 0.8em;
  height: 44px;
  display: block;
}
