.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  padding: var(--unit0) 0;
  border-bottom: 2px solid var(--greenBackground);
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logoImg {
  flex: 0 0 auto;
  height: 36px;
  width: 39px;
  margin-right: 9px;
  display: block;
}

.logoText {
  flex: 0 0 auto;
  height: 36px;
  padding: 2px 0;
  fill: var(--greenLogo);
}
