.sideBar {
  position: fixed;
  top: calc(36px + 2 * var(--unit0));
  bottom: 0;
  overflow-y: auto;
  padding: 1.5em 0;
  background-color: white;

  &.playerOpen {
    bottom: calc(114px + env(safe-area-inset-bottom));
  }

  @media (--tablet-landscape-up) {
    width: calc(178px + 4em);
    border-left: 2px solid var(--greenBackground);
  }

  @media (--tablet-portrait-down) {
    left: 0;
    right: 0;
    padding: 1.5em;
  }
}

.navLink {
  display: block;
  font-weight: bold;
  text-align: center;
}

.hotTopicsTitle {
  margin: 1.5em 0 0.8em;
  text-align: center;
}

.gamesList {
  margin: -8px auto;
  max-width: 384px;

  @media (--tablet-landscape-up) {
    width: 192px;
  }
}
