.search {
  position: relative;

  &.inHeader {
    @media (--tablet-portrait-down) {
      display: none;
    }
  }

  &.inSideBar {
    max-width: 380px;
    margin: 0 auto 1.5rem;

    @media (--tablet-landscape-up) {
      display: none;
    }
  }
}

.input {
  width: 220px;
  height: 36px;
  line-height: 36px;
  padding: 0 30px 0 0.5em;
  border-radius: 5px;
  border: 2px solid var(--greenBackground);
  background-color: var(--greenWash);
  transition: width 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

  &::placeholder {
    color: var(--greenBackground);
  }

  &:focus,
  &:hover {
    border-color: var(--greenBodyText);
    outline: none;
  }

  &:focus {
    width: 380px;
  }

  &:focus + .searchIcon {
    fill: var(--greenBodyText);
  }
}

.inSideBar .input {
  width: 100%;
}

.searchIcon {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--greenBackground);
  transition: fill 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.resultsList {
  position: absolute;
  top: calc(100% + 0.3em);
  border: 2px solid var(--greenBodyText);
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.inHeader .resultsList {
  right: 0;
  width: 380px;
}

.inSideBar .resultsList {
  left: -0.5rem;
  right: -0.5rem;
}

.result {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.resultImage {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  background-color: #f1f3f4;
  margin: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.missingImage {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  background-color: #dddddd;
  margin: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.resultText {
  flex: 1 1 auto;
  margin: 0;
  font-size: 0.95em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  line-height: 30px;
  padding: 0 0.3em 0 0.15em;
}

.result:not(:last-child) {
  border-bottom: 1px solid var(--greenHighlight);
}

.resultHighlighted {
  background-color: var(--greenHighlight);
}
