@import url('https://fonts.googleapis.com/css?family=Hind|Lato:400,700&display=block');

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 1.6;
  color: var(--greenBodyText);
  background: var(--greenBackground) url('/image/texture.png') fixed;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

h1,
h2,
h3 {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

a,
h1,
h2,
h3 {
  color: var(--redHeadingText);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
