:root {
  --greenBackground: #89a147;
  --greenProgress: #618832;
  --greenBodyText: #004d00;
  --greenHighlight: #d5e0b8;
  --greenWash: #fafffa;
  --greenLogo: #008500;
  --redHeadingText: #992516;
}
