.article {
  background-color: white;
  padding: var(--unit2) var(--unit1) var(--unit3);
  border-bottom: 2px solid var(--greenBackground);
}

.header {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

.image {
  margin: 0 0 0.8em 1em;
}

.title {
  margin: 0 0 0.8em;
}

.byline {
  margin: 0;
}

.article p:last-of-type {
  margin-bottom: 0;
}
