.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  /* overflow: hidden; */
}

.footerContent {
  background-color: white;
  padding: 1em 0 1.5em;
  border-top: 2px solid #89a147;
}

.footerContentEnter {
  transform: translateY(100%);
}

.footerContentEnterActive {
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(0%);
}

.footerContentExit {
  transform: translateY(0%);
}

.footerContentExitActive {
  transition: transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(100%);
}

.soundPlayer {
  display: flex;
  align-items: center;
}

.playButton,
.volumeControlButton,
.closeButton {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
}

.closeButton {
  font-size: 2.4em;
  line-height: 0.5;
  padding: 0;
  overflow: hidden;
}

.volumeControl {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.volumeControl div {
  overflow: hidden;
  width: 0;
  transition: width 0.2s ease-out;
  display: flex;
  height: 1em;
}

.volumeControl:hover div {
  width: 100px;
}

.volumeControlRange {
  -webkit-appearance: none;
  width: 98%;
}

.volumeControlRange:focus {
  outline: none;
}

.volumeControlRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #89a147;
  border-radius: 3px;
}

.volumeControlRange::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #89a147;
  border-radius: 3px;
}

.volumeControlRange::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #89a147;
  border-radius: 3px;
}

.volumeControlRange::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 1em;
  background: #004d00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.volumeControlRange::-webkit-slider-thumb {
  height: 14px;
  width: 14px;
  border-radius: 1em;
  background: #004d00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.volumeControlRange::-ms-thumb {
  height: 14px;
  width: 14px;
  border-radius: 1em;
  background: #004d00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

.volumeControlRange::-ms-fill-lower {
  background: #004d00;
}

.progress {
  flex: 1 1 auto;
  background-color: #89a147;
  border-radius: 3px;
  margin: 0 8px;
  cursor: pointer;
}

.progressInner {
  height: 8px;
  background-color: #004d00;
  border-radius: 3px 0 0 3px;
}

.timer {
}
