.intro {
  background-color: white;
  padding: 2.5em 2em;
  margin: 1em 0;
  border-radius: 3px;
  display: flex;
}

.thumbImg {
  flex: 0 0 auto;
  height: 160px;
  width: 130px;
  object-fit: contain;
  object-position: 0 0;
}

.introText {
  padding: 0.4em 0 0 2em;
}

.title {
  margin: 0 0 0.8em;
  line-height: 1;
}

.deck {
  margin-bottom: 0;
}

.postList {
  margin: 0;
  padding: 0;
  list-style: none;
}
