.intro {
  background-color: white;
  padding: var(--unit1);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--greenBackground);

  @media (--phone-only) {
    flex-direction: column;
    padding: var(--unit2) var(--unit1) var(--unit1);
  }
}

.introExpanded {
  @media (--tablet-portrait-up) {
    align-items: flex-start;
  }
}

.thumbImg {
  flex: 0 0 auto;
  object-fit: contain;
  object-position: left;
  width: 250px;
  height: 300px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));

  @media (--phone-only) {
    object-position: center;
  }
}

.introText {
  padding: 0.4em 0 0 var(--unit1);

  @media (--phone-only) {
    padding: 2em 0 1em;
  }
}

.title {
  margin: 0 0 0.8em;

  @media (--phone-only) {
    text-align: center;
  }
}

.deck {
  margin: 0;
}

.deckClamped {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.showMoreButton {
  margin-top: 0.5em;
  font-weight: bold;
  color: var(--redHeadingText);

  &:hover {
    text-decoration: underline;
  }
}

.chevron {
  display: inline-block;
  margin: 0 0 2px 4px;
}
