.intro {
  background-color: white;
  padding: var(--unit1);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--greenBackground);

  @media (--phone-only) {
    flex-direction: column;
    padding: var(--unit2) var(--unit1) var(--unit1);
  }
}

.thumbImg {
  flex: 0 0 auto;
  object-fit: contain;
  object-position: left;
  width: 250px;
  height: 300px;

  @media (--phone-only) {
    object-position: center;
  }
}

.introText {
  padding: 0.4em 0 0 var(--unit1);

  @media (--phone-only) {
    padding: 2em 0 1em;
  }
}

.title {
  margin: 0 0 0.8em;

  @media (--phone-only) {
    text-align: center;
  }
}

.deck {
  margin-bottom: 0;
}
