.intro {
  background-color: white;
  padding: 3em 3em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--greenBackground);
}

.thumbImg {
  flex: 0 0 auto;
  object-fit: contain;
  object-position: left;
  width: 250px;
  height: 300px;
}

.introText {
  padding: 0.4em 0 0 2em;
}

.title {
  margin: 0 0 0.8em;
  line-height: 1;
}

.deck {
  margin-bottom: 0;
}
